.form-details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    animation: fadeIn 3s;
}

.form-main-container{
    width: 700px;
}
.form-details button{
    background-color: skyblue;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    border: 0px;
}

.form-details input{
    padding: 7px 10px;
    width: 50%;
    outline: none;
    border: 0px;
    border-radius: 6px;
}

.aa{
    display: flex;
    justify-content: center;
    animation: fadeIn 3s;
}

@media screen and (max-width:768px){
    .form-main-container{
        width: 100%;
    }
}